#logo_image {
    position: fixed;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
}

#login_card {
    /* The Magic Three */
    display: flex;
    flex-direction: column; /* Stack vertically */
    gap: 15px; /* Space between inputs */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 350px;
}

#login_card input {
    width: 324px;
}

#login_card div {
    width: 100%;
}

#action-buttons {
    justify-content: center;
    display: flex;
    gap: 15px;
}

#signup_button {
    flex: 1;
}

#login_button {
    flex: 2;
}

.login_text {
    color: var(--text-muted);
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#welcome_text {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 8px;
}
